html {
    color: black;
    font-family: Loved by the King;
    background: linear-gradient(135deg, #FCFDFE 0%, #F5CA99 24%, #FE7A47 48%, 
    #f4261f 100%);
}

body {
    margin: 0;
}
.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
}
h1 {
    text-shadow: 5px 5px 0 rgba(0,0,0,1);
    font-size: 120px;
  }